{% extends "base.html" %}

{% block title %}#{{ term.name }} | {{ config.title }}{% endblock %}

{% block content %}
<h1>#{{ term.name }}</h1>
<section class="tagged-posts">
    {% for post in paginator.pages %}
    <article class="post-entry">
        <time>{{ post.date | date(format="%Y-%m-%d") }}</time>
        <span>|</span>
        <a href="{{ post.permalink }}">{{ post.title }}</a>
    </article>
    {% endfor %}
</section>
{% if paginator %}
<nav class="pagination">
    {% if paginator.previous %}
    <a href="{{ paginator.previous }}">← Previous</a>
    {% endif %}

    <span class="pages">
        {% for i in range(start=1, end=paginator.number_pagers+1) %}
        {% if i == paginator.current_index %}
        <span class="current">{{ i }}</span>
        {% else %}
        <a href="{{ paginator.base_url }}{{ i }}">{{ i }}</a>
        {% endif %}
        {% endfor %}
    </span>

    {% if paginator.next %}
    <a href="{{ paginator.next }}">Next →</a>
    {% endif %}
</nav>
{% endif %}
{% endblock content %}